@model Mynfo.Domain.Box_ProfileEmail

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Box_ProfileEmail</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Box.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Box.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ProfileEmail.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ProfileEmail.Name)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Box_ProfileEmailId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
