@model Mynfo.Domain.Box

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Box</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.User.FirstName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.User.FirstName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BoxDefault)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BoxDefault)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Time)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Time)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ColorBox)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ColorBox)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.BoxId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
