@model IEnumerable<Mynfo.Domain.Box_ProfilePhone>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Box.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ProfilePhone.Name)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Box.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ProfilePhone.Name)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Box_ProfilePhoneId }) |
            @Html.ActionLink("Details", "Details", new { id=item.Box_ProfilePhoneId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Box_ProfilePhoneId })
        </td>
    </tr>
}

</table>
