@model Mynfo.Domain.Box_ProfileWhatsapp

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Box_ProfileWhatsapp</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Box.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Box.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ProfilePhoneId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ProfilePhoneId)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Box_ProfileWhatsappId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
